page-login {

    #loginInput {
        border: none;
        border-bottom: none;
    }

    .input-has-focus .input-cover {
        border: none;
    }

    .main {
        position:absolute;
        top:45%;
        left:50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .item-md {
        background-color: transparent !important;
    }

    .item-ios {
        background-color: transparent !important;
    }

    .item-md.item-block .item-inner {
        border-bottom: none;
    }

    .item-ios.item-block .item-inner {
        border-bottom: none;
    }

    .loginButton {
        height: 5em; 
        max-width: 800px; 
        border-color: #E1AEE5;
        color: white;
        background-color: #E1AEE5;
        margin: auto;
    }

    .loginBadge {
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        top: 100%;
        bottom: 0;
    }

    form, input, optgroup, select {
        color: white;
        text-align: center;
    }

    ion-footer {
        text-align: center;
    }
}

html, body, ion-app, ion-page, .nav-decor {
     background-color: rgba(148, 224, 207, 0.40) !important;
    }

.range-md .range-bar {
        background: #ffffff;
    }

.range-ios .range-bar {
        background: #ffffff;
    }
