<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let data of messages">
      <div class="messagesDiv">

        <div class="from-them" *ngIf="data.username !== username">
          <span class="username">
          <strong [style.color]="getUsernameColor(data.username)">{{data.username}}: </strong>
          </span>
          <span class="" style="word-wrap: break-word;" *ngIf="data.image"><ion-item><ion-thumbnail (press)="pressEvent(data.image)" (touchend)="touchEnd()"><img src="{{data.image}}" style="border-radius: 50%;"/></ion-thumbnail></ion-item>{{data.message}}</span>
          <span class="" style="word-wrap: break-word;" *ngIf="!data.image">{{data.message}}</span>
        </div>
        <span class="timestampThem" *ngIf="data.username !== username">{{data.distance}}m away || {{data.timestamp}}</span>

        <div class="from-me" *ngIf="data.username === username">
          <span class="" style="word-wrap: break-word;" *ngIf="data.image"><ion-item><ion-thumbnail (press)="pressEvent(data.image)" (touchend)="touchEnd()"><img src="{{data.image}}" style="border-radius: 50%;"/></ion-thumbnail></ion-item>{{data.message}}</span>
          <span class="" style="word-wrap: break-word;" *ngIf="!data.image">{{data.message}}</span>
        </div>
        <span class="timestampMe" *ngIf="data.username === username">{{data.timestamp}}</span>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab #fabis right>
    <button ion-fab mini color="trans"><ion-icon name="settings"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="takePicture(fabis)"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab (click)="chooseImageFromGallery(fabis)"><ion-icon name="image"></ion-icon></button>
      <button ion-fab (click)="radiusModal(fabis)"><ion-icon name="locate"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-footer>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col class="messageCol" *ngIf="!base64Image">
          <ion-item>
            <ion-input [(ngModel)]="chat" name="chatText" autocapitalize="sentences" autocomplete="true" spellcheck="true" required placeholder="type here..."
              #input focus="loggedIn"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="messageCol" *ngIf="base64Image">
          <ion-item>
            <ion-thumbnail item-left>
              <img [src]="base64Image" style="border-radius: 50%">
            </ion-thumbnail>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="chat" name="chatText" autocapitalize="sentences" autocomplete="true" spellcheck="true" required placeholder="type here..."
              #input focus="loggedIn"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col id="sendBtn">
          <button (click)="chatSend(f.value, f.valid)" ion-button color="secondary" full [disabled]="!f.valid" *ngIf="!base64Image">send</button>
          <button (click)="chatSend(f.value, f.valid)" ion-button color="secondary" full *ngIf="base64Image">send</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>