<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-item>
      <ion-label class="countryInfo">
        <ion-icon name="pin"></ion-icon>
        {{city}}
      </ion-label>
      <ion-label class="countryInfo">
        <ion-icon name="ios-people"></ion-icon>
        {{onlineUsers}}
      </ion-label>
    </ion-item>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-fab #fabis right>
    <button ion-fab mini color="pinkish"><ion-icon name="settings"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab color="white" (click)="takePicture(fabis)"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab color="white" (click)="chooseImageFromGallery(fabis)"><ion-icon name="image"></ion-icon></button>
      <button ion-fab color="white" (click)="radiusModal(fabis)"><ion-icon name="locate"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <div *ngFor="let data of messages">
      <div class="messagesDiv">

        <div class="from-them" *ngIf="data.username !== username">
          <span class="username">
          <strong [style.color]="getUsernameColor(data.username)">{{data.username}}: </strong>
          </span>
          <span class="" style="word-wrap: break-word; font-size: large;" *ngIf="data.image"><ion-item><ion-thumbnail (press)="pressEvent(data.image)" (touchend)="touchEnd()"><img src="{{data.image}}" style="border-radius: 25%; filter: blur(2px);"/></ion-thumbnail></ion-item>{{data.message}}</span>
          <span class="" style="word-wrap: break-word; font-size: large;" *ngIf="!data.image">{{data.message}}</span>
        </div>
        <span class="timestampThem" *ngIf="data.username !== username">{{data.distance}}m away || {{data.timestamp}}</span>

        <div class="from-me" *ngIf="data.username === username">
          <span class="" style="word-wrap: break-word; font-size: large;" *ngIf="data.image"><ion-item><ion-thumbnail (press)="pressEvent(data.image)" (touchend)="touchEnd()"><img src="{{data.image}}" style="border-radius: 25%;"/></ion-thumbnail></ion-item>{{data.message}}</span>
          <span class="" style="word-wrap: break-word; font-size: large;" *ngIf="!data.image">{{data.message}}</span>
        </div>
        <span class="timestampMe" *ngIf="data.username === username">{{data.timestamp}}</span>
      </div>
    </div>
    <ion-card class="image-container" [ngClass]="{'open': showImage}" style="max-height: 70%;">
      <ion-card-content style="padding: inherit;">
        <img [src]="messageImage">
      </ion-card-content>
    </ion-card>
    <div class="overlay" [ngClass]="{'open': showImage}"></div>
  </ion-list>

</ion-content>

<ion-footer>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col class="messageCol" *ngIf="!base64Image">
          <ion-item>
            <ion-input [(ngModel)]="chat" name="chatText" autocapitalize="sentences" autocomplete="true" spellcheck="true" required placeholder="type here..."
              #input focus="loggedIn"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="messageCol" *ngIf="base64Image">
          <ion-item>
            <ion-thumbnail item-left>
              <img [src]="base64Image" style="border-radius: 25%">
            </ion-thumbnail>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="chat" name="chatText" autocapitalize="sentences" autocomplete="true" spellcheck="true" required placeholder="type here..."
              #input focus="loggedIn"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col id="sendBtn">
          <button (click)="chatSend(f.value, f.valid)" ion-button color="pinkish" full [disabled]="!f.valid" *ngIf="!base64Image">send</button>
          <button (click)="chatSend(f.value, f.valid)" ion-button color="pinkish" full *ngIf="base64Image">send</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>