page-settings {
    // .scroll-content {
    //     background: white;
    //     border-top: 1px solid #e1aee5;
    //     border-top-left-radius: 3%;
    //     border-top-right-radius: 3%;
    // }
    .radiusInput {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0);
    }

    .item-md {
      background-color: rgba(255, 255, 255, 0);
    }

    .item-md.item-block .item-inner {
        border: none;
    }
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
        display: none;
    }
    .header-ios::after,
    .tabs-ios[tabsPlacement="top"]>.tabbar::after,
    .footer-ios::before,
    .tabs-ios[tabsPlacement="bottom"]>.tabbar::before {
        display: none;
    }
    .loginBadge {
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .main-view {
        background: transparent;
    }
    .customOverlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
    }
    .modal_content {
        position: absolute;
        top: calc(50% - (35%/2));
        left: 0;
        right: 0;
        width: 90%;
        height: 30%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: rgb(148, 224, 207) 100%;
        background: -moz-linear-gradient(top, #fff 0%, rgb(148, 224, 207) 100%);
        background: -webkit-linear-gradient(top, #fff 0%, rgb(148, 224, 207) 100%);
        background: linear-gradient(to bottom, #fff 0%, rgb(148, 224, 207) 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
    }
    modal-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    @media not all and (min-height: 600px) and (min-width: 768px) {
        ion-modal ion-backdrop {
            visibility: hidden;
        }
    }
    @media only screen and (min-height: 0px) and (min-width: 0px) {
        .modal-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}