page-page1 {

    .ion-page {
        border: none;
    }

    .scroll-content { 
        padding-bottom: 20%;
    }

    .loginForm {
        margin-bottom: 20%;
        margin-top: 35%;
    }

    .item-md {
        background-color: transparent;
    }

    .item-ios {
        background-color: transparent;
    }

    .list-md .item-block .item-inner {
        border-bottom: none;
    }

    .list-ios .item-block .item-inner {
        border-bottom: none;
    }

    .list-ios > .item-block:first-child {
        border: none;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border: none;
    }

    .grid {
        background-color: #f8f8f8;
    }

    #loginInput {
        text-align: center;
        color: white;
    }

    .input-md[clearInput] .text-input {
        padding-right: 30px;
        border: 1px solid rgb(50, 219, 100);
        border-radius: 10px;
    }

    .input-ios[clearInput] .text-input {
        padding-right: 30px;
        border: 1px solid rgb(50, 219, 100);
        border-radius: 10px;
    }

    .radiusInput {
        background-color: black;
    }

    .loginPage {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: black;
    }

    .chatPage {
        height: 100%;
        margin: 0;
        overflow-y: auto;
        width: 100%;
        float: left;
        word-wrap: break-word;
    }

    .loginList {
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;
    }

    .submitItem {
        background-color: transparent;
        padding-top: 10%
    }

    #sendMessage {
        max-width: 20%;
    }

    #messageCol {
        max-width: 80%;
    }

    #messageInput {
        text-align: left;
    }

    .messageItem {
        background-color: white;
    }

    .messageDiv {
        height: 100%;
        margin: 0;
        overflow-y: auto;
        padding: 10px 20px 10px 20px;
        width: 70%;
        float: left;
        word-wrap: break-word;
    }

    .username {
        font-weight: 700;
        overflow: hidden;
        padding-right: 15px;
        text-align: right;
    }

    .timestampMe {
        float: right;
        color: gray;
        text-align: right;
        width: 100%;
        font-size: small;
        margin-right: 1em;
    }

    .timestampThem {
        float: left;
        color: gray;
        text-align: left;
        width: 100%;
        font-size: small;
        margin-left: 1em;
    }

    .ion-md-settings:before {
        color: #adcbf1;
    }

    .ion-ios-settings:before {
        color: #adcbf1;
    }

    .ion-md-close:before {
        color: #f1adad
    }

    .ion-ios-close:before {
        color: #f1adad
    }

    .from-them {
	    position:relative;
	    padding:10px 20px;
	    background:#E5E5EA;
	    border-radius:25px;
	    color: black;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        float: left;
        max-width: 90%;
		
	    &:before {
		    content:"";
		    position:absolute;
		    z-index:2;
		    bottom:-2px;
		    left:-7px;
		    height:20px;
		    border-left:20px solid #E5E5EA;
		    border-bottom-right-radius: 16px 14px;
		    -webkit-transform:translate(0, -2px);
	    }

	    &:after {
		    content:"";
		    position:absolute;
		    z-index:3;
		    bottom:-2px;
	    	left:4px;
	    	width:26px;
	    	height:20px;
	    	background:white;
	    	border-bottom-right-radius: 10px;
	    	-webkit-transform:translate(-30px, -2px);
    	}
    }

    .from-me {
	    position:relative;
    	padding:10px 20px;
    	color:white; 
    	background:#32db64;
    	border-radius:25px;
        margin-right: 1em;
        margin-left: 1em;
        margin-top: 1em;
        float: right;
        max-width: 90%;
		
	    &:before {
    		content:"";
		    position:absolute;
	    	z-index:-1;
	    	bottom:-2px;
	    	right:-7px;
	    	height:20px;
	    	border-right:20px solid #32db64;
	    	border-bottom-left-radius: 16px 14px;
	    	-webkit-transform:translate(0, -2px);
    	}

	    &:after {
	    	content:"";
	    	position:absolute;
	    	z-index:1;
	    	bottom:-2px;
	    	right:-56px;
	    	width:26px;
	    	height:20px;
	    	background:white;
	    	border-bottom-left-radius: 10px;
	    	-webkit-transform:translate(-30px, -2px);
    	}
    }

    .myFooter {
        background-color: black;
        height: 20%;
    }

    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #32db64;
        box-shadow: inset 0 -1px 0 0 #32db64;
    }

    .item-ios.item-input.input-has-focus .item-inner {
        border-bottom-color: #32db64;
        box-shadow: inset 0 -1px 0 0 #32db64;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: none;
        box-shadow: none;
    }   

    .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: none;
        box-shadow: none;
    }

    .image-container{
        display:none;
        position:fixed;
        width:90%;
        max-width:90%;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        z-index:9999;

          &.open{
            display:block;
         }

            > div {
                position: relative;
                overflow: hidden;
                padding-bottom: 150%;
     
                    img{
                        position: absolute;
	                    top: 0;
	                    left: 0;
	                    width: 100%;
	                    height: 100%;
                        border:none;
                    }
            }

        }

    .overlay{
        display:none;
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-color:rgba(0,0,0,0.2);
        z-index:99;

            &.open{
                display:block;
            }  
    }
}