page-page1 {

    .scroll-content {
        margin-bottom: 4em;
        margin-top: 3em;
        background-color: white;
    }

    .fixed-content {
        background-color: black;
    }

    .list-md .item-block .item-inner {
        border-bottom: none;
    }

    .list-ios .item-block .item-inner {
        border-bottom: none;
    }

    .list-ios > .item-block:first-child {
        border: none;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border: none;
    }

    .grid {
        background-color: white;
    }

    #loginInput {
        text-align: center;
        color: white;
    }

    .radiusInput {
        background-color: black;
    }

    .loginPage {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: black;
        margin-left: -5%;
        margin-right: -5%;
        margin-top: -5%;
    }

    .chatPage {
        height: 100%;
        margin: 0;
        overflow-y: auto;
        width: 100%;
        float: left;
        word-wrap: break-word;
    }

    .loginList {
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .usernameItem {
        background-color: black;
    }

    .submitItem {
        background-color: transparent;
        padding-top: 10%
    }

    #sendMessage {
        max-width: 20%;
    }

    #messageCol {
        max-width: 80%;
    }

    #messageInput {
        text-align: left;
    }

    .messageItem {
        background-color: white;
    }

    .messageDiv {
        height: 100%;
        margin: 0;
        overflow-y: auto;
        padding: 10px 20px 10px 20px;
        width: 70%;
        float: left;
        word-wrap: break-word;
    }

    .username {
        font-weight: 700;
        overflow: hidden;
        padding-right: 15px;
        text-align: right;
    }

    .timestamp {
        float: right;
        color: gray;
    }

    .ion-md-settings:before {
        color: #adcbf1;
    }

    .ion-ios-settings:before {
        color: #adcbf1;
    }

    .ion-md-close:before {
        color: #f1adad
    }

    .ion-ios-close:before {
        color: #f1adad
    }
 }