<ion-header *ngIf="loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="loginPage" *ngIf="!loggedIn">
    <div class="loginForm">
      <form (ngSubmit)="logForm()" id="loginFormId">
        <ion-list class="loginList">
          <ion-input id="loginInput" autocomplete="on" autocapitalize=words [(ngModel)]="username" padding type="text" placeholder="Choose a nickname..."
            clearInput="true" name="username"></ion-input>
          <ion-item class="radiusInput">
            <ion-range min="10" max="3000" step="10" [(ngModel)]="radius" [ngModelOptions]="{standalone: true}" color="secondary" style="width: 90%; margin-top: 3vh;">
              <ion-icon range-left small style="color: white" name="locate"></ion-icon>
              <ion-icon range-right style="color: white" name="locate"></ion-icon>
            </ion-range>
          </ion-item>
          <ion-badge color="secondary" class="loginList" style="width: initial;">{{radius}} meter</ion-badge>
        </ion-list>
      </form>
    </div>
  </div>

  <ion-footer *ngIf="!loggedIn" class="myFooter" padding>
    <button ion-button block outline color="secondary" type="submit" form="loginFormId" (click)="logForm()" style="height: 5em; width: 100%; margin-top: 5vh;">Login</button>
  </ion-footer>

  <ion-list *ngIf="loggedIn" style="margin-top: 5em; margin-bottom: 8em;">
    <div *ngFor="let data of messages" style="margin-top: 1.5em;">
      <div class="messagesDiv">

        <div class="from-them" *ngIf="data.username !== username">
          <span class="username">
          <strong [style.color]="getUsernameColor(data.username)">{{data.username}}: </strong>
          </span>
          <span class="" style="word-wrap: break-word;" *ngIf="data.image"><ion-item><ion-thumbnail (press)="pressEvent(data.image)" (touchend)="touchEnd()"><img src="{{data.image}}" style="border-radius: 50%;"/></ion-thumbnail></ion-item>{{data.message}}</span>
          <span class="" style="word-wrap: break-word;" *ngIf="!data.image">{{data.message}}</span>
        </div>
        <span class="timestampThem" *ngIf="data.username !== username">{{data.latitude}}m away || {{data.timestamp}}</span>

        <div class="from-me" *ngIf="data.username === username">
          <span class="" style="word-wrap: break-word;" *ngIf="data.image"><ion-item><ion-thumbnail (press)="pressEvent(data.image)" (touchend)="touchEnd()"><img src="{{data.image}}" style="border-radius: 50%;"/></ion-thumbnail></ion-item>{{data.message}}</span>
          <span class="" style="word-wrap: break-word;" *ngIf="!data.image">{{data.message}}</span>
        </div>
        <span class="timestampMe" *ngIf="data.username === username">{{data.timestamp}}</span>
      </div>

      <ion-card class="image-container" [ngClass]="{'open': showImage}" style="max-height: 80%;">
        <ion-card-content style="padding: inherit;">
          <img style="max-height: 77vh;" [src]="messageImage">
        </ion-card-content>
      </ion-card>
      <div class="overlay" [ngClass]="{'open': showImage}"></div>

    </div>
  </ion-list>

  <ion-fab #fabis right *ngIf="loggedIn">
    <button ion-fab mini color="trans"><ion-icon name="settings"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="takePicture(fabis)"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab (click)="chooseImageFromGallery(fabis)"><ion-icon name="image"></ion-icon></button>
      <button ion-fab (click)="radiusModal(fabis)"><ion-icon name="locate"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="loggedIn">
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col width-80 *ngIf="!base64Image">
          <ion-item>
            <ion-input [(ngModel)]="chat" name="chatText" autocapitalize="sentences" autocomplete="true" spellcheck="true" required placeholder="type here..." #input focus="loggedIn"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-80 *ngIf="base64Image">
          <ion-item>
            <ion-thumbnail item-left>
              <img [src]="base64Image" style="border-radius: 50%">
            </ion-thumbnail>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="chat" name="chatText" autocapitalize="sentences" autocomplete="true" spellcheck="true" required placeholder="type here..." #input focus="loggedIn"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-20 center>
          <button (click)="chatSend(f.value, f.valid)" ion-button color="secondary" full [disabled]="!f.valid" *ngIf="!base64Image">send</button>
          <button (click)="chatSend(f.value, f.valid)" ion-button color="secondary" full *ngIf="base64Image">send</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>